.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
}

.content-container {
    padding: 20px;
    width: 100%;
    background-color: var(--background-2);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.loader {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 576px) {
    .content-container {
        flex-direction: column;
        gap: 20px;
    }
}
