.service-tile {
    flex: 1 0 0;
    max-width: calc(24% - 5px);
    display: flex;
    background-color: var(--background-3);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: var(--font-light);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.short-name {
    font-size: var(--font-xxxl);
    text-transform: uppercase;
}

.alive-indicator {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: var(--service-active);
}

@media (max-width: 576px) {
    .service-tile {
        flex: unset;
        width: 100%;
        max-width: 100%;
    }
}
