:root {
    --white: #fff;
    --black: #000;
    --divider: #a0afbd;
    --font-light: #fff;
    --font-dark: #212636; 
    --background-1: #1f1e2f;
    --background-2: #45475a;
    --background-3: #48469d;
    --service-active: #0ac731;

    --loader-inner: #dddddd;
    --loader-outer: var(--icon-active);

    --font-sm: 1.4rem;
    --font-md: 1.6rem;
    --font-xl: 2rem;
    --font-xxl: 2.4rem;
    --font-xxxl: 3.5rem;

    --btn-primary: #6d6bc1;
    --btn-primary-hover: #5e5cca;
    --btn-primary-active: #5e5cca;
    --btn-disabled: #6c757d;
    --btn-disabled-font: #a1a1a1;

    --text-input-border: #ced4da;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    width: 100%;
    max-width: 100%;

    color: var(--font-light);
    background-color: var(--background-1);
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
    font-size: var(--font-md);
}

.content-wrapper {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 16px 0 16px;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.content-wrapper::-webkit-scrollbar {
    display: none;
}


@media (min-width: 992px) {
    .content-wrapper {
        padding: 0 20%;
    }
}
